
html{
    background: #2d3234;
}
.container {
    display: grid;
    grid-template-areas:
            "header header header"
            "cards canvas chat"
            "footer footer footer";

    grid-template-columns: auto auto minmax(100px, 388px);
    grid-template-rows: 100px 600px auto;
    grid-gap: 1em;

    height: 100vh;
}

@media (max-width: 980px) {
    .container {
        grid-template-areas:
                "header"
                "canvas"
                "chat"
                "cards"
                "footer";

        grid-template-columns: 1fr;
        grid-template-rows:
                100px /* Header */
                400px /* canvas */
                200px /* chat */
                minmax(75px, auto) /* cards */
                auto; /* Footer */
    }


}

.playercards {
    grid-area: cards;
    display: flex;
    flex-direction: column;
}

.chat {
    grid-area: chat;
}

.canvascontainer {
    grid-area: canvas;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat{
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
}
#message-container{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /*overflow-x: scroll;*/
    flex: 20
}

#message-container>div{
    padding-left: 0.25em;
}
#message-container>div:nth-child(odd){
    background: lightgrey;
}


.header {
    grid-area: header;
    background: whitesmoke;
    border-radius: 5px;
    padding: 1em;
}

#draw{
    background: whitesmoke;
    border-radius: 2px;
}


#draw, .chat, .header, .playercards{
    background: #ecebf4;
    border-radius: 1px;
}

#send-container{
    flex: 1;
    padding: 0.5em;
    justify-content: center;
}
#message-input{
    width: 80%;
}
#send-button{
    width: 12%;
}